{% extends 'account/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block body %}
    <div class="content">
      <div class="signup">
        <div class="container">
          <h3 class="text-center">Sign Up</h3>

          <div class="border">
            <p class="text-center agree-p">
         {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
            {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}
            </p>
          <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
              {% csrf_token %}
                <div class="text-center">
                <input type="text" name="first_name" value="" placeholder="First name" required="" id="id_first_name" maxlength="30">
                </div>

                <div class="text-center">
                <input type="text" name="last_name" value="" placeholder="Last name" required="" id="id_last_name" maxlength="30">
                </div>

                 <div class="text-center">
                <input type="text" name="username" maxlength="150" minlength="1" autofocus="autofocus" required="required" placeholder="Username" id="id_username">
                </div>

                <div class="text-center">
                <input type="email" name="email" value="" required="required" placeholder="E-mail address" id="id_email">
                </div>
                     {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" name="action" style="width: 15%" value="Sign Up" />
                  </div>
          </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}