{% extends "products/base.html" %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}
{% load staticfiles %}
{% block body %}
{% block content %}
    <div class="content">
      <div class="signup signup-form">
        <div class="container">
          <h3 class="text-center">Reply to comment</h3>
<div class="border">
<div style="margin: 20px 20px;">
      <div class="media-left">

        {% if comment.user_url %}
            <p class="text-center agree-p">
        <a href="{{ comment.user_url }}">
          {{ comment.user_email|xtd_comment_gravatar }}
        </a>
        {% else %}

        {{ comment.user_email|xtd_comment_gravatar }}

        {% endif %}
      </p>
      </div>
      <div class="media-body">
        <h6 class="media-heading">
          {{ comment.submit_date|date:"N j, Y, P" }}&nbsp;-&nbsp;
          {% if comment.user_url %}
          <a href="{{ comment.user_url }}" target="_new">{% endif %}
          {{ comment.user_name }}{% if comment.user_url %}</a>{% endif %}
        </h6>
        <span>{{ comment.title }}</span><br/>
        <div class="well well-sm" style="width: 30%">{{ comment.comment }}</div>
      </div>

    <div class="visible-lg-block visible-md-block">

    </div>

<div style="margin-left: 15px">
  {% include "comments/form.html" %}
</div>
</div>
</div>
        </div>
      </div>
      </div>
{% endblock %}
{% endblock %}