.radio-input{overflow: hidden;margin-top: -20px;}
input[type="radio"]{    width: 15px !important;
    margin: 10px !important; float: left}
.radio-input label{    float: left;
    margin-top: 15px;}
.rightside .input-and-img{margin-bottom: 40px !important}


@media (width: 1024px) {
  .content .rightside {
    border-left: 2px solid hsl(0, 0%, 84%);
    height: 5548px !important;
    }
}

@media (width: 480px)
{.top .log-sign-buttons {
    float: right;
    margin-top: -44px;
    margin-right: 8px;
}

.navbtn {
    display: block;
    float: none;
    margin-top: 7px;
    cursor: pointer;
    margin-right: 21px;
    margin-left: 10px;
}
}


@media (width: 640px)
{.top .log-sign-buttons {
    float: right;
    margin-top: -46px;
    margin-right: 18px;
}

.navbtn {
    display: block;
    float: none;
    margin-top: 8px;
    cursor: pointer;
    margin-right: 21px;
    margin-left: 17px;
}
}


