.contact{background-color: hsl(223, 100%, 65%);
    overflow: hidden;
    margin-left: -55px;
    margin-top: -21px; border: 0}
.contact .contact-map-img{margin-top: 50px;margin-bottom: 100px;}
.contact h3{margin-top: 115px;color: white;font-family: Helveticaneuecyr,verdana;margin-left: 13%;font-weight: bold;font-size: 30px;}
.contact p{color: white;font-family: verdana;margin-left: 13%;font-weight: bold;font-size: 11px;}

.contact-form{
    background-color: hsl(0, 0%, 100%);
    margin-top: -160px;
    width: 85%;
    margin-bottom: 200px;
    margin-left: 3%;
    overflow: hidden;
    padding: 0;
    z-index: 999999999999999999999999;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 7px 11px 0px #efefef;
    }


.contact-form input,.contact-form textarea{
    width: 100%;
    border: 0;
    border-bottom: 2px solid hsl(0, 0%, 69%);
    height: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    }
.contact-form textarea{min-width: 100%;max-width: 100%;width: 100%;height: 90px;padding-right: 30px;}
.relative{position: relative;}
.contact-form button{
    border: 0;
    background: hsla(0, 0%, 0%, 0);
    position: absolute;
    top: 81px;
    right: -26px;
    }

.contact-info{
    background-color: hsl(210, 75%, 25%);
    padding: 30px 10px;
    }
.nopadding{padding: 0 !important}
.contact-info h3{margin-top: 0; color: white}
.contact-info h4{margin-top: 0;color: white;font-family: Helveticaneuecyr,verdana;font-size: 17px;line-height: 1.5}
.form{    width: 95%;margin-left: 1%}
.message-box{    float: right;margin-top: 45px;margin-bottom: 20px}

.contact-form h3{
    margin-top: 40px;
    margin-bottom: 25px;
    font-family: Helveticaneuecyr,verdana;
    font-weight: bold;
    }
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 7px;
    font-weight: bold;
    font-family: Helveticaneuecyr,verdana;
    font-size: 13px;
    color: hsl(0, 0%, 60%);
}

.contact-info h3{margin-bottom: 0 !important;margin-top: 9px;font-size: 19px;}
.contact-info h4:last-child{margin-bottom: 17px}



.content .right-of-form .button {
    width: 80%;
    background-color: hsla(0, 0%, 0%, 0);
    border: 2px solid hsl(0, 0%, 87%);
    border-radius: 5px;
    height: 50px;
    margin-top: 90px;
    margin-bottom: 70px;
    color: hsl(0, 0%, 60%);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
}

.content .right-of-form .button:hover{background-color: hsl(223, 100%, 65%); color: white !important; border: 0}
.content .right-of-form h3 {
    font-family: Helveticaneuecylight, verdana;
}

.content .right-of-form form input{
    width: 92%;
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: hsla(0, 0%, 0%, 0);
    border: 1px solid hsl(0, 0%, 84%);
    border-radius: 5px;
    height: 34px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Helveticaneuecyr,verdana;
}


/* placeholer style */
.right-of-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}
.right-of-form ::-moz-placeholder { /* Firefox 19+ */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}
.right-of-form :-ms-input-placeholder { /* IE 10+ */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}
.right-of-form ::-moz-placeholder { /* Firefox 18- */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}



.content .right-of-form .sendbutton {
    width: 105px;
    background-color: hsl(0, 0%, 40%);
    border: 0;
    border-radius: 11px;
    height: 33px;
    margin-top: 18px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
}


@media (max-width: 991px) {
  .contact .contact-map-img {margin: 0 auto  }
  .contact-info h3,.contact-info h4 {margin-left: 28px}
  .right-of-form .ads{margin: 0 auto;}
  .content .right-of-form .button {
    width: 250px;
    margin-top: 0;
    }
  .contact-form{margin-bottom: 50px}
  .contact h3 {
    margin-top: 40px}
}

@media (width:320px) {
  .contact{width: 305px}
}

@media (width:480px) {
  .contact{width: 465px;}
}

@media (width:640px) {
  .contact{width: 625px;}
}

@media (width:768px) {
  .contact{width: 753px;}
}



@media (width: 320px) {
  .contact-form{margin-left: 0!important; margin-top: -100px;}
  .message-box {
    float: right;
    margin-top: -47px;
    margin-bottom: 20px}

    .btn-group {
      margin-top: 55px;
      margin-bottom: 7px;
  }
  .right-of-form{margin-left: -35px}
}


@media (width: 480px) {
  .contact-form{margin-left: 0!important; margin-top: -100px;}
  .message-box {
    float: right;
    margin-top: -47px;
    margin-bottom: 20px}

    .btn-group {
      margin-top: 57px;
      margin-bottom: 7px;
  }
  .right-of-form{margin-left: -35px}
}


@media (width: 640px) {
  .contact-form{margin-left: 3.5%}
  .message-box {
    float: right;
    margin-top: -47px;
    margin-bottom: 20px}

    .btn-group {
      margin-top: 23px;
      margin-bottom: 7px;
  }
  .right-of-form{margin-left: -35px}

  .contact h3,.contact p{margin-left: 10%}
}


@media (width: 768px) {
  .contact-form{margin-left: 3.5%}
  .message-box {
    float: right;
    margin-top: -47px;
    margin-bottom: 20px}

    .btn-group {
      margin-top: 23px;
      margin-bottom: 7px;
  }
  .right-of-form{margin-left: -35px}

  .contact h3,.contact p{margin-left: 6.3%;}
}


@media (width:1024px) {
  .contact h3 {
    margin-top: 64px;}
}

@media (min-width: 992px) {
  .content .rightside {
    border-left: 2px solid hsl(0, 0%, 84%);
    height: 855px;
    margin-top: -20px;
    margin-left: -16px}
}

@media (width: 1024px){
.content .rightside {
    border-left: 2px solid hsl(0, 0%, 84%);
    height: 900px !important;
}
}

@media (width: 640px) {
  .content .rightside {
    border-left: 0;
    height: 3842px;
    margin-top: 0 !important}
}
