.modal-dialog{width: 74%;margin: 0 auto;margin-top: 15px;}
.modal-content{overflow: hidden;padding: 15px 0;}


.login-popup .login-body{
    border: 1px solid hsl(0, 0%, 87%);
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0 60px 0;
    }

.login-popup .login-body .signupbtn{float: left}
.forgetpass{
    display: block;
    width: 166px;
    margin-left: 187px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    line-height: 37px;
    border-radius: 6px;
    border: 2px solid hsl(0, 0%, 81%);
    ransition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    }
.forgetpass:hover{text-decoration: none;background-color: hsl(223, 100%, 65%);color: white;border: 0;line-height: 40px;}
.login-popup .login-body .login{height: 40px !important;margin-left: 61px;}
.signup .signup-form {
    margin-top: 150px;
}

.signup input {
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    height: 34px;
    margin-bottom: 25px;
    padding-left: 8px;
    padding-right: 8px;
    width: 75%;
    margin-left: 0px;
}

.login-popup .buttons{margin-top: 45px;}


@media (max-width: 1300px) {
  .login-popup .login-body .login {
      height: 40px !important;
      margin-left: 50px;
  }
  .forgetpass {margin-left: 175px}

}

@media (width: 1024px) {
  .login-popup .login-body {
    border: 1px solid hsl(0, 0%, 87%);
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0 60px 0;
    margin-left: 73px}

    .signup input {
      border: 2px solid hsl(0, 0%, 80%);
      border-radius: 5px;
      height: 34px;
      margin-bottom: 25px;
      padding-left: 8px;
      padding-right: 8px;
      width: 85%;
      margin-left: 33px;
      }
}

@media (max-width: 991px) {
  .signup .signup-form {margin-top: 0}
  .signup .signup-form div{text-align: center;}
  .signup input{margin-left: 0}
  .buttons{    float: right;
    margin-right: 20%;}
}

@media (max-width: 530px) {
  .login-popup .login-body .signupbtn {float: none}
  .login-popup .login-body .forgetpass{margin-top: 12px; margin-left: 0}
}

@media (width: 1024px) {
  .login-popup .login-body .login {
    height: 40px !important;
    margin-left: 40px;
    }
  .forgetpass {margin-left: 162px;}
}


@media (width: 640px) {
  .login-popup .login-body .login {
      height: 40px !important;
      margin-left: 84px;
      width: 112px !important;
  }

  .forgetpass {margin-left: 200px;width: 134px;}

}



@media (width: 1024px) {
  .signup .signup-form {
    margin-top: 150px;
    margin-left: -30px}
}


@media (width: 640px) {
  .signup h3 {
    margin-left: 20px;
    margin-bottom: 12px;
    color: hsl(0, 0%, 30%);
    font-family: Helveticaneuecyr,verdana;
    font-size: 29px}

}

@media (width: 768px) {
  .signup h3 {
    margin-left: 22px;
    margin-bottom: 12px;
    color: hsl(0, 0%, 30%);
    font-family: Helveticaneuecyr,verdana;
    font-size: 29px}

}


@media (width: 1024px) {
  .signup h3 {
    margin-left: 15px;
    margin-bottom: 12px;
    color: hsl(0, 0%, 30%);
    font-family: Helveticaneuecyr,verdana;
    font-size: 29px;
    }

}



@media (width: 320px) {
  .login-popup .login-body {
    border: 1px solid hsl(0, 0%, 87%);
    width: 93%;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0 60px 0;
    margin-left: 14px;
}
}


@media (width: 480px) {
  .login-popup .login-body {
    border: 1px solid hsl(0, 0%, 87%);
    width: 93%;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0 60px 0;
    margin-left:21px }
}

@media (min-width: 992px) {
  .or{display: none}
}
.or{
    margin-bottom: 0;
    color: hsl(0, 0%, 30%);
    font-family: Helveticaneuecyr,verdana;
    font-size: 24px;
    margin-bottom: 12px;
    }




