.content {margin: 0px 0px 100px 38px}
.border{border: 1px solid hsl(0, 0%, 93%);border-top: 2px solid hsl(0, 0%, 93%);overflow: hidden; margin: 0 auto; margin-bottom: 100px;width: 90%;}
.signup h3{margin-left: -26px;margin-bottom: 12px;color: #4d4d4d;font-family: Helveticaneuecyr,verdana;font-size: 29px;}
.signup .h3{margin-top: 25px;margin-bottom: 0;color: hsl(0, 0%, 30%);font-family: Helveticaneuecyr,verdana;font-size: 27px;}
.signup-buttons button{
  display: block;
  margin: 0 auto;
  width: 64%;
  height: 30px;
  margin-top: 30px;
  border: 0;
  border-radius: 6px;
  color: hsl(0, 0%, 100%);
  }
.signup-buttons button:hover, .signup-buttons a:hover{text-decoration: none}

.signup .google-signup{background-color: hsl(1, 77%, 55%)}
.signup .facebook-signup{background-color: #3b5998}
.signup .yahoo-signup{background-color: #410196}
.signup .linkedin-signup{background-color: #0077b5}
.signup .github-signup{background-color: #800080}
.signup .slack-signup{background-color: #088769}

.signup .signup-buttons{border-right: 1px solid hsl(0, 0%, 70%);height: 415px;}
.signup input{
    border: 2px solid #cdcdcd;
    border-radius: 5px;
    height: 34px;
    margin-bottom: 25px;
    padding-left: 8px;
    padding-right: 8px;
    width: 78%;
    }
.signup .signup-form{margin-top: 45px;}
.signup .signup-form .signupbtn{width: 117px;margin: 0 auto;background-color: transparent;border: 2px solid #a9a9a9;
      transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;}

.signup .signup-form .signupbtn:hover{background-color: hsl(223, 100%, 65%); color: white !important; border: 0}

.signup-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: Helveticaneuecyr,verdana
}
.signup-form ::-moz-placeholder { /* Firefox 19+ */
  font-family: Helveticaneuecyr,verdana
}
.signup-form :-ms-input-placeholder { /* IE 10+ */
  font-family: Helveticaneuecyr,verdana
}
.signup-form ::-moz-placeholder { /* Firefox 18- */
  font-family: Helveticaneuecyr,verdana
}



.agree-p{margin-top: 50px;margin-bottom: 75px;font-family: Helveticaneuecyr,verdana;font-size: 15px;}

@media (max-width: 991px) {
  .col-sm-6{width: 100%}
  .signup-buttons{border: 0 !important}
}

@media (min-width: 768px) and (max-width: 804px) {
  .signup .container{width: auto;}
}

@media (max-width: 1191px) {
  .signup{margin-left: -5%;}
}
