/* drop down button style */

.btn-group > .btn + .dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
    background-color: hsl(223, 100%, 74%);
    border-left: 2px solid hsl(0, 0%, 100%);
}


.dropdown-menu{    z-index: 9999999999999999;    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out}
.dropdown-menu li{width: 100%}
.dropdown-menu li a{    color: hsl(180, 8%, 57%) !important;
    border-bottom: 1px solid hsl(0, 0%, 87%) !important;}
.dropdown-menu .logout a{border: 0 !important}

.dropdown-menu li:hover{padding-left: 5px}
.username-btn{    border: 0 !important;    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
}
.dropdown-toggle{    border-right: 0;
    border-top: 0;
    border-color: hsl(0, 0%, 100%);
    border-bottom: 0;    transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out}
.dropdown-menu li:hover a{background-color: hsl(223, 100%, 65%) !important; border: 0 !important; color: white !important}



@media (width: 1024px) {
  .btn-group{margin-top: 6px;margin-bottom: 10px;margin-right: -26px;}
  .dropdown-menu{width: auto !important}
}

@media (width: 768px) {
  .btn-group{margin-top: 9px !important;margin-bottom: 7px;}
  .dropdown-menu{width: auto !important}
}

@media (width: 640px) {
  .btn-group{margin-top: 17px}
  .dropdown-menu{      margin-top: 0 !important;
    margin-left: -80px !important;
    width: auto !important}
}

@media (width: 480px) {
  .btn-group{margin-top: 17px}
  .dropdown-menu{      margin-top: 0 !important;
    margin-left: -80px !important;
    width: auto !important}
}

@media (max-width: 991px) {
  .btn-group{margin-top: 21px;margin-bottom: 7px;}
  .dropdown-menu{      margin-top: 0 !important;
    margin-left: -80px !important;
    width: auto !important}
}

.username-btn, .dropdown-toggle{background-color: hsl(223, 100%, 74%)}


@media (width: 1264px) {
  .btn-group{margin-top: -10px !important}
}

@media (width: 1280px) {
  .btn-group{margin-top: -10px !important}
}


.btn-group > .btn + .dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
    background-color: hsl(223, 100%, 74%);
    border-left: 2px solid hsl(0, 0%, 100%);
}

/* End drop down style */


@font-face {
  font-family: "Helveticaneuecyr";
  src: url(../fonts/HelveticaNeue-Thin.otf);
  url(../fonts/HelveticaNeue-Thin.otf) format(opentype);
}

@font-face {
  font-family: "Helveticaneuecyrr";
  src: url(../fonts/HelveticaNeue-Heavy.otf);
  url(../fonts/HelveticaNeue-Heavy.otf) format(opentype);
}


@font-face {
  font-family: "Helveticaneuecylight";
  src: url(../fonts/HelveticaNeue-Light.otf);
  url(../fonts/HelveticaNeue-Light.otf) format(opentype);
}


@font-face {
  font-family: "Helveticaneuecymedium";
  src: url(../fonts/HelveticaNeue-Medium.ttf) format('embedded-opentype');
  url(../fonts/HelveticaNeue-Medium.ttf) format(opentype);
}


/* back to top button style*/
.fa-chevron-up{
    background-color: hsl(223, 100%, 65%);
    color: hsl(0, 0%, 100%);
    padding: 10px;
    font-size: 20px;
    position: fixed;
    right: 20px;
    bottom: 30px;
    display: none;
    cursor: pointer;
    z-index: 9999999999999999999999999;
    }
/* End back to top button style*/


.top{background-color: hsl(223, 100%, 65%);}

.top {}
.topbar{background-color: hsl(223, 100%, 74%);height: 36px;line-height: 28px;}

.topbar .closeimg{width: 19px;height: 19px;margin-top: calc((36px - 19px) /2);cursor: pointer;transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out}
.topbar .closeimg:hover{transform: rotate(180deg);}
.navbar{transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out}
.topbar p{color: white;font-family: Helveticaneuecyr,verdana;font-size: 17px;}
.navbar form{position: relative}
.navbar form input{width: 86%;margin: 0 auto;text-align: center;display: block;background-color: transparent;border: 1px solid hsl(0, 0%, 100%);border-radius: 5px;height: 26px;color: white;font-family: Helveticaneuecyr,verdana;font-size: 17px;padding-right: 38px;padding-left: 8px;}
.navbar form input~img{
    position: absolute;
    top: 6px;
    right: 5%;
    width: 18px;
    }
.navbar ul{margin-left: -50px}
.navbar ul li{float: left;padding: 0 13px;list-style-type: none;}
.navbar ul li:first-child{}
.navbar ul li a{color: white;font-size: 15px;line-height: 30px;font-family: verdana;}
.navbar .logo h3{padding: 0;margin: 0;margin-left: 50px;color: hsl(0, 0%, 100%);font-family: Helveticaneuecyrr,verdana;font-size: 22px;}

.navbar .button{
              width: 69px;
              background-color: hsla(0, 0%, 0%, 0);
              border: 1px solid hsl(0, 0%, 100%);
              border-radius: 5px;
              height: 30px;
              color: hsl(0, 0%, 100%);
              font-family: Helveticaneuecylight,verdana;
              transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out;
                  -o-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;
                  -ms-transition: all .5s ease-in-out
            }

.navbar .button:hover{background-color: hsl(0, 0%, 100%); color: #899}

.content .leftside h3{margin-top: 35px;font-family: verdana;font-size: 22px;}

.content .leftside .product .box{
    width: 100%;
    height: 161px;
    border: 2px solid hsl(0, 0%, 81%);
    border-radius: 14px;
    margin: 0 0px 8px 0;
    }
.content .leftside .product .box img{margin-top: 10px;
    margin-left: 10px;}
.content .leftside .product h4{font-size: 14px;
    width: 50%;
    float: left}

.content .leftside .product .button{
    width: 47%;
    background-color: hsl(223, 100%, 65%);
    border: 0;
    border-radius: 9px;
    height: 35px;
    color: hsl(0, 0%, 100%);
    }
.leftside h4~span{
    margin-top: 5px;
    display: inline-block;
    float: right;
    margin-right: 0;
    font-size: 16px;
}

.content .leftside .product .secbtn {
    width: 50%;
    background-color: hsla(0, 0%, 0%, 0);
    border: 2px solid hsl(0, 0%, 81%);
    border-radius: 7px;
    height: 35px;
    color: hsl(0, 0%, 60%);
}

.content .leftside .product .rates{
    width: 100%;
    margin-top: 20px;
    border: 1px solid hsl(0, 0%, 93%);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.content .leftside .product .rates span{color: hsl(0, 0%, 66%);
    padding: 0 5px;}




.content .more {
  width: 176px;
  background-color: hsla(0, 0%, 0%, 0);
  border: 2px solid hsl(0, 0%, 87%);
  border-radius: 5px;
  height: 50px;
  color: hsl(0, 0%, 60%);
  margin-bottom: 25px !important;
  margin-top: 0;
  }











.content .rightside{margin-top: -20px;}
.content .rightside .button{
    width: 80%;
    background-color: hsla(0, 0%, 0%, 0);
    border: 2px solid hsl(0, 0%, 87%);
    border-radius: 5px;
    height: 50px;
    margin-top: 32px;
    color: hsl(0, 0%, 60%);
    }


.content .rightside .ads{
    margin: 0 auto;
    margin-top: 18px;
}

.content .rightside form input:first-child{
    width: 92%;
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: hsla(0, 0%, 0%, 0);
    border: 1px solid hsl(0, 0%, 84%);
    border-radius: 5px;
    height: 34px;
    padding-right: 10px;
    padding-left: 10px;
    }

.content .rightside .sendbutton{    width: 105px;
    background-color: hsl(0, 0%, 40%);
    border: 0;
    border-radius: 11px;
    height: 33px;
    margin-top: 18px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
}

.content .rightside h3{font-family: Helveticaneuecylight, verdana}





footer{margin:0 0 0 40px}

footer .specialcol2{width:13.666667% !important}
footer .specialcol5{width: 44.666667% !important}
footer .box{
    width: 100%;
    height: 85px;
    border: 1px solid hsl(0, 0%, 81%);
    border-radius: 8px;
    margin: 0 0px 7px 0;
    margin-top: 15px;
}



footer .ul{margin-top: 25px;}
footer .ul li{list-style-type: none;height: 40px;  transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out}
footer .ul li:hover{padding: 10px;
    border-bottom: 1px solid hsl(203, 90%, 53%); margin-bottom: 20px}
footer .ul li a{color: hsl(0, 0%, 29%);font-size: 16px;margin-left: 2px;font-family: Helveticaneuecylight,verdana;font-size: 18px;text-decoration: none}


footer form input{
    height: 42px;
    width: 96%;
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 83%);
    font-family: Helveticaneuecyr,verdana;
    font-size: 17px;
    padding-right: 55px;
    }


footer form{position: relative}
footer form .email-submit-btn{       position: absolute;
    top: 23px;
    right: 22px;
    border: 0;
    background-color: hsla(0, 0%, 0%, 0)}


footer .facebook, footer .google , footer .twitter{
    width: 89%;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin: 8px 0px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    }
footer .facebook{background-color: #3b5998;margin-top: 25px;}
footer .twitter{background-color: #1da1f3}
footer .google{background-color: #ef5350}
footer .facebook:hover{border-bottom: 30px solid hsl(0, 0%, 39%);}
footer .google:hover{border-bottom: 30px solid hsl(223, 100%, 65%)}
footer .twitter:hover{border-bottom: 30px solid hsl(36, 100%, 50%)}

button{cursor: pointer;z-index: 999;position: relative;}

.navbtn{color: white;font-size: 25px;display: none;z-index: 9999999999999999999;position: relative;max-width: 40px;}
@media (max-width:767px) {
  .rightside{height: auto !important; border: 0 !important}
  .top{height: auto;}
  .top ul{margin: 0}
  .top ul{display: none}
  .top .button{
    margin-bottom: 28px;
    margin-top: 20px;
    margin-left: 21px;
    }
.navbar ul li:first-child {/* padding: 0 0 0 15px; */}
  .navbtn{
    display: block;
    float: left;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 21px;
    }
  .top ul{width: 50%;margin: 0 auto;text-align: left;margin-top: 0;margin-bottom: 40px;}
  .top ul li{float: none;}



  .navbar .logo h3 {
    padding: 0;
    margin: 0;
    color: hsl(0, 0%, 100%);
    font-family: Helveticaneuecyrr,verdana;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 21px;
}

}








/* placeholer style */
.top ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;font-family: Helveticaneuecyr,verdana; font-size: 17px
}
.top ::-moz-placeholder { /* Firefox 19+ */
  color: white;font-family: Helveticaneuecyr,verdana; font-size: 17px
}
.top :-ms-input-placeholder { /* IE 10+ */
  color: white;font-family: Helveticaneuecyr,verdana; font-size: 17px
}
.top ::-moz-placeholder { /* Firefox 18- */
  color: white;font-family: Helveticaneuecyr,verdana; font-size: 17px
}




/* placeholer style */
.content .rightside ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}
.content .rightside ::-moz-placeholder { /* Firefox 19+ */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}
.content .rightside :-ms-input-placeholder { /* IE 10+ */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}
.content .rightside ::-moz-placeholder { /* Firefox 18- */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}



/* placeholer style */
footer ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}
footer ::-moz-placeholder { /* Firefox 19+ */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}
footer :-ms-input-placeholder { /* IE 10+ */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}
footer ::-moz-placeholder { /* Firefox 18- */
  font-family: Helveticaneuecyr,verdana; font-size: 17px
}


footer p{    font-family: Helveticaneuecylight, verdana;
    font-size: 17px;}



.clear{display: none}
@media (min-width:769px) and (max-width:1332px) {
  .clear{display: block}
  .top{height: auto}
  .top .col-sm-4{    width: 41.66666667%;}
  .navbar .logo h3{margin-bottom: 20px}
}

@media (max-width:305px) {
  .content .more{width: 90%}
}


hr{border-top: 2px solid hsl(0, 0%, 84%) !important;}





@media (width: 320px) {
  .content .leftside .product .button {width: 48%;}
  footer .specialcol2 {
    width: initial !important
  }
  footer .specialcol5 {width: auto !important}
}

@media (width:767px) {
  footer .specialcol2 {
    width: initial !important
  }
  footer .specialcol5 {width: auto !important}

  .content .leftside .product .secbtn {
    width: 52%;
    background-color: hsla(0, 0%, 0%, 0);
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 7px;
    height: 35px;
    color: hsl(0, 0%, 60%)}

}



@media (width: 480px) {
  footer .specialcol2 {
    width: auto !important}
  footer .specialcol5 {
    width: auto !important}
}
@media (width: 640px) {
  .content .leftside .product .rates {width: 98%}
  footer .specialcol2 {
    width: auto !important}
  footer .specialcol5 {
    width: auto !important}
}



@media (width: 768px) {
  .col-sm-9 {
    width: 100% !important}
  .col-sm-3 {width: 100%}
  .content .leftside .product .rates {width: 99%}
}


@media (min-width: 768px) and (max-width: 1091px) {
  .top .col-sm-4 {
    width: 100%}
  .top{height: auto !important}
  .top ul{width: 75%; margin: 0 auto; margin-top: 10px}
  .navbar .logo h3 {
    padding: 0;
    margin: 0;
    color: hsl(0, 0%, 100%);
    font-family: Helveticaneuecyrr,verdana;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 21px}
    .top .col-sm-2 {width: 100%}

    .navbar .button {
      width: 69px;
      background-color: hsla(0, 0%, 0%, 0);
      border: 1px solid hsl(0, 0%, 100%);
      border-radius: 5px;
      height: 30px;
      color: hsl(0, 0%, 100%);
      font-family: Helveticaneuecylight,verdana;
      margin-left: 26px;
      margin-top: 10px;
      margin-bottom: 15px;
  }

  .content .rightside {
    border-left: 2px solid hsl(0, 0%, 84%);
    height: auto;
    border: 0}

  footer form img {
    position: absolute;
    top: 25px;
    right: 40px}

    footer .col-sm-2{width: 100% !important}


}



@media (min-width: 1092px ) {
  .navbar form input {
    width: 86%;
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: hsla(0, 0%, 0%, 0);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    height: 26px;
    color: hsl(0, 0%, 100%);
    font-family: Helveticaneuecyr,verdana;
    font-size: 17px;
    padding-right: 38px;
    padding-left: 8px;
    margin-bottom: 15px}
}


@media (width:1024px ) {
  .content .leftside .product .button {width: 46%}


@media (min-width: 769px ) {
  .content .rightside {
      border-left: 2px solid hsl(0, 0%, 84%);
      height: 6500px !important}
  }
}

@media (width: 768px) {
  footer .specialcol5 {
    width: 100% !important}
}

@media (width: 1024px) {
  .navbar .button{margin-left: 45px !important;margin-right: -40px;}
  .content .leftside .product .button {width: 48%}
  .content .rightside {
    border-left: 2px solid hsl(0, 0%, 84%);
    height: 5527px !important;
    }
  footer .col-sm-3 {
    width: 40%;
    padding: 0 20px}
    footer .specialcol5 {
      width: 57.666667% !important}
  .top ul {
    width: 55%;
    margin: 0 auto;
    margin-top: 10px}
}



@media (width: 1366px) {
  .navbar ul li {
      float: left;
      padding: 0 12px;
      list-style-type: none;
  }
}


@media (width: 1280px) {
  .content .leftside .product .button{width: 46% !important}
}

@media (min-width: 1200px) and (max-width: 1356px) {
  .content .leftside .product .button{width: 46% !important}
}


@media (min-width: 1333px) {
  .navbar ul {
    margin-left: -60px}
}


.content .leftside .product .button,
.content .rightside .button,.content .more,.navbar ul li
{transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out}
.content .leftside .product .button:hover{
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 85%); color: #999 !important}
.content .leftside .product .secbtn:hover,.content .rightside .button:hover,.content .more:hover{background-color: hsl(223, 100%, 65%); color: white !important; border: 0}

.navbar ul li:hover {background-color: hsl(223, 100%, 74%)}
.navbar ul li a{text-decoration: none}


.content .leftside .product .product-img{
    width: 100%;
    height: 161px;
    border: 2px solid hsl(0, 0%, 81%);
    border-radius: 14px;
    margin: 0 0px 8px 0;
}


.navbar .row{margin-right:0 !important}
.content{margin:0px 0px 0px 38px}
.content hr{margin-right:76px}
.content .row{margin-right:45px}
.product h3{margin:0 !important;}
.secbtn{margin-left:2px}
.roww{margin-right:45px}
.hr{margin-top:0 !important; margin-bottom:0 !important}
.input-and-img{position: relative}



@media (width:1280px) {
  .netbook-logo-style{margin-left: 0;}
}
@media (width:1264px) {
  .netbook-logo-style{margin-left: 0;}
}

@media (width:640px) {
  .top ul {
    margin-top: 30px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-top: 30px;
    margin-left: -35px}
}


@media (width:768px) {
  .top .navbar-windowsphone4 {
    width: 70%;}
  .top ul {width: auto; margin-left: -26px}
  .top .navbar-windowsphone2 {width: 30%}
}

@media (width:1024px) {
  .top .navbar-windowsphone4 {
    width: 70%;}
  .top ul {width: auto;margin-left: 21px;}
  .top .navbar-windowsphone2 {width: 30%}
}

@media (width: 320px) {
  .navbtn {
    display: block;
    float: none;
    margin-top: 12px;
    cursor: pointer;
    margin-right: 21px;
    margin-left: 5px;}

    .navbar-windowsphone2{width: 75%;float: right;margin-top: 4px;margin-bottom: 5px;}
}

@media (width: 480px) {
  .navbtn {
    display: block;
    float: none;
    margin-top: 12px;
    cursor: pointer;
    margin-right: 21px;
    margin-left: 5px;}

    .navbar-windowsphone2{width: 47%;float: right;margin-top: 0px;margin-bottom: 5px;}
}

@media (width: 640px) {
  .navbtn {
    display: block;
    float: none;
    margin-top: 12px;
    cursor: pointer;
    margin-right: 21px;
    margin-left: 18px;
    }

    .navbar-windowsphone2{width: 35%;float: right;margin-top: 3px;margin-bottom: 6px;}
}


.navbar{
    position: relative;
    min-height: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    }


@media (min-width: 320px ) and (max-width:768px) {
  .content .rightside {
    margin-top: -3px;
    position: relative;
    left: -29px;
    }

    .content .rightside .button {
    width: 80%;
    background-color: hsla(0, 0%, 0%, 0);
    border: 2px solid hsl(0, 0%, 87%);
    border-radius: 5px;
    height: 50px;
    margin-top: 30px;
    color: hsl(0, 0%, 60%)}
}



@media (min-width: 320px) and (max-width: 768px) {
  footer .col-sm-2 {width: 100% !important;}
  footer .col-sm-5{width: auto !important}
}


@media (min-width: 768px) and (max-width: 1244px) {
  .content .more{margin-bottom: 20px}
}


@media (min-width: 1092px) and (max-width: 1332px) {
  .top .clear{display: none !important}
  .top .navbar-windowsphone2{float: right;
    margin-right: 18px;
    margin-top: 10px;
    margin-bottom: 10px}
}



@media (min-width: 768px) and (max-width: 1091px) {
  .top .navbar-windowsphone4, .top .navbar-windowsphone2{width: 50%}
  .top ul {
    width: 100%}
  .top .log-sign-buttons{
    float: right;
    margin-right: 12%;
    }
}


@media (min-width: 768px) and (max-width: 1010px) {
  .top .navbar-windowsphone4, .top .navbar-windowsphone2 {
    width: 65%;
    }
  .top .navbar-windowsphone2{width: 33%;}
}


@media (max-width: 768px) {
  .top .log-sign-buttons{
    float: right;
    margin-top: -12px;
    margin-right: 24px;
    }
}

@media (max-width: 300px) {
  .top ul {width: 70%}
}


@media (min-width: 768px) and (max-width: 777px) {
  .top .navbar-windowsphone4{
    width: 66%}
    .top .navbar-windowsphone2 {
      width: 32%;
      }
}



@media (max-width: 1050px) and (min-width: 992px) {
  .content .leftside .product .button {width: 46%}
}


@media (min-width: 295px) and (max-width: 343px) {
  .content .leftside .product .button {
    width: 57%}
  .content .leftside .product .secbtn {
    width: 39%}

}

@media (max-width: 294px) {
  .content .leftside .product .button {
    width: 100%; margin-bottom: 5px}
    .content .leftside .product .secbtn {
      margin-left: 0}
}

@media (max-width: 1244px) {
  .content .rightside {
    border-left: 0;
    height: auto !important;
    margin-top: -20px;
    }
}


@media (width: 320px) {
  .top .log-sign-buttons {
      float: right;
      margin-top: -50px;
      margin-right: 0;
  }
}

@media (width: 480px) {
  .top .log-sign-buttons {
    float: right;
    margin-top: -46px;
    margin-right: 8px;
    }
}

@media (width: 768px)
{
  .top .log-sign-buttons {
    float: right;
    margin-top: 0;
    margin-right: 24px}
  .content .rightside {
      border-left: 0;
      height: auto;
      margin-top: -20px;
  }
}

@media (width: 1024px) {
  .top .log-sign-buttons {
    float: right;
    margin-right: 23%}
}


@media (width: 768px) {
  footer form img {
    position: absolute;
    top: 2px;
    right: 20px}
}

@media (width: 1024px)
{
  footer form img {
    position: absolute;
    top: 1px;
    right: 3px}
}

@media (width: 1264px) {
  .navbar ul li {
    float: left;
    padding: 0 8px;
    list-style-type: none}

    .top .col-sm-2 {width: 14.666667%}
    .top .col-sm-4 {width: 32.666667%}

    .navbar .button {margin-top: -5px}
}

@media (width: 1280px) {
  .navbar ul li {
    float: left;
    padding: 0 8px;
    list-style-type: none}

    .top .col-sm-2 {width: 14.666667%}
    .top .col-sm-4 {width: 32.666667%}

    .navbar .button {margin-top: -5px}
}


.xspan{
    position: absolute;
    right: 26px;
    font-size: 22px;
    color: hsl(0, 0%, 58%);
    top: 20px;
    cursor: pointer;
}



@media (width: 640px) {
  .login-popup .login-body {
    width: 91% !important;
    margin-left: 32px !important}
}

@media (width: 768px) {
  .login-popup .login-body {
    width: 91% !important;
    margin-left: 38px !important}
}


@media (width: 1024px) {
  .login-popup .login-body {
    margin-left: 59px !important}
}



@media (min-width: 768px) {
  .firstttt{display: none}
}


@media (max-width: 767px) {
  .seconddd{display: none}
}


textarea:focus, input:focus{
    outline: none;
    border-color: hsl(223, 100%, 65%) !important
}

.searchinput:focus{
    outline: none;
    border-color: white !important
}


.leftside{border-right: 2px solid hsl(0, 0%, 84%);margin-top: -20px;}


@media (width: 640px) {
  .log-sign-buttons{margin-top: -52px !important}
}


@media (max-width: 768px) {
  .leftside{border: 0}
}


.product h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.product span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
}

.product p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}