{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% load account socialaccount %}
{% load staticfiles %}
{% block body %}

    <div class="content">

      <div class="signup">
        <div class="container">
          <h3 class="text-center">E-mail Addresses</h3>

          <div class="border">
            <p class="text-center agree-p">
         {% if user.emailaddress_set.all %}
<p class="text-center agree-p">The following e-mail addresses are associated with your account:</p>

        <form action="{% url 'account_email' %}" class="email_list" method="post">
        {% csrf_token %}


          {% for emailaddress in user.emailaddress_set.all %}
        <div >
            <input style="height: 17px; width: 10%" id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
              <label  style="height: 0px;" for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

                  <p class="text-center agree-p">        {{ emailaddress.email }}
            {% if emailaddress.verified %}
            <span class="verified" style="color: blue">{% trans "Verified" %}</span>
            {% else %}
            <span class="unverified" style="color: red">{% trans "Unverified" %}</span>
            {% endif %}
              {% if emailaddress.primary %}<span class="primary" style="color: blue">{% trans "Primary" %}</span>{% endif %}
</p>
        </label>
        </div>
              <hr style="margin-right: 0px">
          {% endfor %}

        <div class="buttonHolder" >
              <button class=" btn btn-primary secondaryAction" style="margin-right: 2%;margin-left: 4%" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
              <button class="btn btn-primary secondaryAction" type="submit" style="margin-right: 2%;" name="action_send" >{% trans 'Re-send Verification' %}</button>
              <button class="btn btn-primary primaryAction" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
        </div>


        </form>
{% else %}
<p class="text-center agree-p">You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc."</p>

{% endif %}

<p class="text-center agree-p">Add E-mail Address:</p>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        <div class="text-center">
            <div>
        <input id="id_email" name="email" required="required" placeholder="E-mail address" size="30" type="email">
                </div>
            <div>
        <button class="btn btn-primary" style="margin-bottom: 20px" name="action_add" type="submit">Add Email</button>
        </div>
            </div>
    </form>



          </div>
        </div>
      </div>
    </div>
{% endblock %}


<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
