{% extends 'account/base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% block body %}
     {% load staticfiles %}
    <div class="content">
      <div class="signup">
        <div class="container">
          <h3 class="text-center">Log In</h3>
          <div class="border">
            <div class="col-sm-6 text-center">
              <div class="signup-buttons">
                <h4 class="h3">Sign up with</h4>
                <a href="{% provider_login_url 'google' %}"><button class='google-signup' type="button" name="google-signup">Google</button></a>
                <a href="{% provider_login_url 'slack'  method='oauth2'%}"><button class='slack-signup' type="button" name="slack-signup">Slack</button></a>
                <a href="{% provider_login_url 'linkedin' method='oauth2' %}"><button class='linkedin-signup' type="button" name="linkedin-signup">LinkedIn</button></a>
                <a href="{% provider_login_url 'github' %}"><button class='github-signup' type="button" name="github-signup">Github</button></a>
              </div>
            </div>
            <div class="col-sm-6 text-center">
            <div style="margin-top: 10px">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" style="width: 100%;  margin-bottom: 1px;
                                                                              height: 30px;
                                                                              line-height:30px;
                                                                              padding:0px 15px;">
                            <strong style=" font-size: 12px ">{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                      {% endif %}

    {% for error in form.non_field_errors %}
          <div class="alert alert-danger" style="width: 100%;  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
            </div>
            <div class="login-popup signup">
              <form class="signup-form login" style="margin-top: 80px" id="login" action="{% url 'account_login' %}" method="POST">
                  {% csrf_token %}
                <div>
                  <input maxlength="50" id ="id_login" type="text" name="login" value="" placeholder="Username" required="required">
                </div>
                <div>
                  <input maxlength="50" id ="id_password" type="password" name="password" value="" placeholder="Password" required="required">
                </div>
                     {{ allauth_login }}
                     {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                 <div class="buttons" style="display: inline-block">
                  <div>
                    <input onclick="return IsEmpty();" class='login signupbtn' style="float: left; margin-left: 0px;height: 40px !important;" type="Submit" name="" value="Login">
                  </div>
                  <div>
                    <a class='forgetpass' href="{% url 'account_reset_password' %}">Forgot Password?</a>
                  </div>

                </div>

              </form>
</div>
            </div>
            <div class="clearfix"></div>
            <p class="text-center agree-p">
              By clicking Log in you are acknowledging that you
              agree to our Terms and Conditions when using our product.
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
