{% extends 'account/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block body %}
    <div class="content">
      <div class="signup">
        <div class="container">
          <h3 class="text-center">Sign Out</h3>
          <div class="border">
            <p class="text-center agree-p">
                Are you sure you want to sign out?
            </p>
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
                    <div class="text-center">
                    <input type="submit" class="btn btn-primary" style="width: 15%; margin-left: 0px" value="Sign Out" />
                  </div>
            </form>

          </div>
        </div>
      </div>
    </div>
{% endblock %}
