{% extends 'account/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block body %}
    <div class="content">
      <div class="signup">
        <div class="container">
          <h3 class="text-center">Set Password</h3>
          <div class="border">
            <div class="clearfix"></div>
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                <div class="text-center">
                <input id="id_oldpassword" name="oldpassword" placeholder="Current Password" type="password">
                </div>
                   <div class="text-center">
                <input id="id_password1" name="password1" placeholder="New Password" type="password">
                </div>
                 <div class="text-center">
                <input id="id_password2" name="password2" placeholder="New Password (again)" type="password">
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" name="action" style="width: 15%" value="Set Passowrd" />
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
