{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% load account socialaccount %}
{% block body %}
     {% load staticfiles %}
    <div class="content">
      <div class="signup">
        <div class="container">
          <h3 class="text-center">Password Reset</h3>
          <div class="border">
 <p class="text-center agree-p">
        We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
