{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Developer Suit</title>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
      <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'css/signup.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="{% static 'js/ajax.js' %}"></script>
      <script src="{% static 'js/tricks.js' %}"></script>
      <script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
      {% block pagelinks %}
      {% endblock %}
  </head>
  <body>



<!-- Start Back to top button -->
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
<!-- End Back to top button -->


<!-- All Top navbar -->
    <div class="top">
      <div class="clearfix"></div>

      <div class="navbar">
        <div class="row">
          <div class="col-sm-2 netbook-logo-style">
            <div class="logo">
              <h3><a href="{% url 'products:home' %}" style="text-decoration: none; cursor: hand; color: white"><img src="{% static 'products/images/logo.png' %}"></a></h3>
            </div>
          </div>

          <div class="clearfix clear"></div>

          <div class="col-sm-4">
                <form action="{% url 'products:main_search' %}" method="GET">
                    <div class="input-and-img">
                        <input class='searchinput' onkeypress="return checkSubmit(event)" id="" maxlength="50" type="search" name="q" value="{{request.GET.q}}" placeholder="Type here to search" required="required">
                        <img src="{% static 'products/images/searchicon.png' %}" alt="">

                    </div>
              </form>
            </div>

          <div class="col-sm-4 navbar-windowsphone4">
            <i class="fa fa-bars navbtn" aria-hidden="true"></i>
            <ul class="topnavbar">
                <li><a href="{% url 'products:home' %}">Home</a></li>
                <li><a href="{% url 'products:about_us' %}">About Us</a></li>
                <li><a href="{% url 'products:categories' %}">Categories</a></li>
                <li><a href="http://blog.developerssuite.com/">Blog</a></li>
                <li><a href="{% url 'products:contact_us' %}">Contact Us</a></li>
            </ul>
          </div>

             {% if request.user.is_authenticated %}
             <div class="col-sm-2 navbar-windowsphone2">
              <div class="log-sign-buttons">

                  <div class="btn-group">
                    <button type="button" onclick="{%url 'products:profile'  request.user %}" class="btn btn-primary username-btn" name="username"><a href="{%url 'products:profile'  request.user %}" style="text-decoration: none; color: white"> {{  request.user }}</a></button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <span class="caret"></span>
                       <span class="sr-only">Toggle Dropdown</span>
                      </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'products:profile' request.user %}">My Products</a></li>
                        <li class="logout"><a href="{% url 'account_logout' %}">Logout</a></li>
                    </ul>
                  </div>
              </div>
            </div>
            {% else %}
          <div class="col-sm-2 navbar-windowsphone2">
            <div class="log-sign-buttons">
              <a href="{% url 'account_login' %}" data-toggle='modal'><button class='button' type="button" name="button">Log in</button></a>
              <a href="{% url 'account_signup' %}"><button style='margin-left:5px' class='button' type="button" name="button">Sign up</button></a>
            </div>
          </div>
            {% endif %}
        </div>
      </div>

    </div>

<!-- End All Top navbar -->

<!-- start the main content of the index page -->
{% block body %}
{% endblock %}

    <!-------------------------------- Clear Screen ---------------------------------->
    <div class="clearfix"></div>
    <hr class="hr hr-line">

<!-- End the main content of the index page -->

<!-- Start footer ---------------------------------->
    <footer>
      <!-- Start footer links -->
      <div class="col-sm-2 specialcol2">
        <h3>Company</h3>
        <div class="ul">
          <li><a href="{% url 'products:about_us' %}" class="anim">About us</a></li>
          <li><a href="http://blog.developerssuite.com/">Blog</a></li>
          <li><a href="#">Terms & Privacy</a></li>
          <li><a href="#">Support</a></li>
        </div>
      </div>
      <!-- End footer links -->


      <!-- Start footer Latest blog posts -->
      <div class="col-sm-5 specialcol5">
        <h3>Latest blog posts</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="box product-img">

            </div>
            <p>Title of the blog post</p>
          </div>
          <div class="col-sm-4">
            <div class="box product-img">

            </div>
            <p>Title of the blog post</p>
          </div>
          <div class="col-sm-4">
            <div class="box product-img">

            </div>
            <p>Title of the blog post</p>
          </div>
        </div>
      </div>
      <!-- End footer Latest blog posts -->

      <!-- Start footer newsletter -->
      <div class="col-sm-3">
        <h3>Sign up to our newsletter</h3>
        <form class="" action="{% url 'products:submit_newsletter' %}" method="post">
            {% csrf_token %}
          <div class="input-and-img">
            <input type="email" name="email" value="" placeholder="Enter email" required="required">
             <button class='email-submit-btn' type="submit" name="button"><img src="{% static 'products/images/footeremailicon.png' %}" alt=""></button>
          </div>
        </form>
      </div>
      <!-- End footer newsletter -->

      <!-- Start footer Stay in touch with social media  -->
      <div class="col-sm-2">
        <h3>Stay in touch</h3>
        <div class="facebook">
          <a href="https://www.facebook.com/developerssuite" style="text-decoration: none; color: white">Like us on Facebook</a>
        </div>
        <div class="twitter">
          <a href="https://twitter.com/developerssuite" style="text-decoration: none; color: white">Follow on Twitter</a>
        </div>
        <div class="google">
          <a href="https://plus.google.com/107186571217444585683" style="text-decoration: none; color: white">Follow on Google+</a>
        </div>

      </div>
      <!-- Start footer Stay in touch with social media  -->
    </footer>
<!-- End footer ---------------------------------->
  <div class="clearfix">  </div>
    <div class="" style="height:100px"></div>
    {% block inline_javascript %}{% endblock %}
</body>
</html>