{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% block body %}
     {% load staticfiles %}


    <div class="content">

      <div class="signup">
        <div class="container">
          <h3 class="text-center">Log In Verification</h3>
          {% user_display user as user_display %}
          <div class="border">
            <p class="text-center agree-p">
                Note: you are already logged in as {{ user_display }}
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}