{% extends extended_template %}
{% load staticfiles%}
 {% block pagelinks %}
     <link rel="stylesheet" href="{% static 'css/about.css' %}">
 {% endblock %}

{% block body %}

      <div class="content">
      <div class="col-sm-9 leftside">
        <div class="mission">
          <h3>Our Mission:</h3>
          <p>DevelopersSuite wants to be the place on the web for open source developers resources. We are building the world’s biggest library of open source developers resources.</p>
        </div>

        <div class="about">
          <h3>About Us:</h3>
          <p>

            Developer’s Suit is a centralized library of open-source developer’s resources. Developers Suite is an online library of resources where a developer, residing in any part of the world, can have an easy, 1-click access to almost 1-billion open-source resources. Our aim is to facilitate all the users who have interest in development and want to build unique and reliable products not only for themselves but also for their clients, companies and organizations. They can use Developer’s Suit to progress faster in their career by expanding their practical knowledge in technologies relevant to their career and personal interest.</p>

            <p>Anyone who is having any type of difficulty in coding or designing an application or product, we are here to provide the user with the best possible solution from our biggest collection of Open Source Developers Resources. We are compacting all the resources into one single place to save the user from doing monkey work for searching most suitable developer’s resources.</p>
            <p>Developers Suite also aims to enable developers to market the products and get Realtime feedback on the development work they did. Programmers can connect with Realtime audience who can use their resources.</p>
            <p>The one and only goal of our product is to facilitate the users/developers at NO COST</p>


          
        </div>

        <div class="team_members text-center">
          <h3>Team Members</h3>

          <div class="member">
            <div class="col-md-3">
              <div class="member-img">
                <img class='img-responsive' src="{% static 'products/images/img_logo_blue.jpg' %}" alt="">
              </div>
              <h3 class="member-name"><strong>Muhammad</strong></h3>
              <h3 class="member-job">CEO & Founder</h3>
              <p class="member-email">muhammad@developerssuite.com</p>
            </div>
          </div>


          <div class="member">
            <div class="col-md-3">
              <div class="member-img">
                <img class='img-responsive' src="{% static 'products/images/img_logo_blue.jpg' %}" alt="">
              </div>
              <h3 class="member-name"><strong>Zohaib</strong></h3>
              <h3 class="member-job">CTO & Co-Founder</h3>
              <p class="member-email">zohaib@developerssuite.com</p>
            </div>
          </div>

          <div class="member">
            <div class="col-md-3">
              <div class="member-img">
                <img class='img-responsive' src="{% static 'products/images/img_logo_blue.jpg' %}" alt="">
              </div>
              <h3 class="member-name"><strong>Haseeb</strong></h3>
              <h3 class="member-job">Manager Marketing</h3>
              <p class="member-email">Haseeb@developerssuite.com</p>
            </div>
          </div>

          <div class="member">
            <div class="col-md-3">
              <div class="member-img">
                <img class='img-responsive' src="{% static 'products/images/img_logo_blue.jpg' %}" alt="">
              </div>
              <h3 class="member-name"><strong>James</strong></h3>
              <h3 class="member-job">Head of Operations</h3>
              <p class="member-email">James@developerssuite.com</p>
            </div>
          </div>

        </div>
      </div>


      <div class="col-sm-3 text-center rightside">
        <a href="{% url 'products:create_product'  %}"><button class='button' type="button" name="button">Post a resourse</button></a>

        <h3 class="right-contact-info"><strong>Contact Us</strong><br><br>
            Developerssuite, Inc.<br>
            237 Sector H12<br>
            Islamabad, 44000<br>
            PAK<br><br>

            <strong>Customer service<br>
            hours:</strong><br><br>

            9am - 6pm PST<br>
            Monday - Sunday
          </h3>

        <h3>Subscribe our Newsletter</h3>


        <form class="emailform" action="{% url 'products:submit_newsletter' %}" method="post">
            {% csrf_token %}
          <div class="input-and-img">
            <input maxlength="50" type="email" name="email" value="" placeholder="Enter your email">
            <input class='sendbutton' onclick="return IsEmpty();" type="submit" name="" value="Send">
          </div>
        </form>
      </div>

    </div>


{% endblock %}
