<style>
li { cursor: pointer; cursor: hand; }
 #item {
  text-decoration: none;
  color: #000;
  display: block;
  width: 100%;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

#item:hover {
  font-size: 24px;
    color:#337ab7 ;
  background: #f6f6f6;
   text-decoration: none;
}
</style>

{% if categories.count > 0 %}
    {% for category in categories %}
        <li  class="list-group-item" id="item" value="{{ category.category}}">{{ category.category}}</li>
    {% endfor %}
    {% else %}
{#    <li style="color: red">Select category from Drop Down List!</li>#}
{% endif %}
