{% extends extended_template %}
{% load i18n %}
{% load staticfiles %}
{% load comments %}
{% load hitcount_tags %}
{% load likes_inclusion_tags %}

{% block body %}
    <div class="content">
      <div class="col-sm-9 leftside">
          {% if top_products %}
            <div class="Greatest-dev-resources">
                  <h3>Greatest Collection of Developers Resources:</h3><hr>
                    <div class="row">
                    {% for product in top_products|slice:":8" %}
                     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                         <div class="product">
                            <div class="productimg">
                              <a style="cursor: hand" href="{% url 'products:detail' product.id %}"><img class='product-img img-responsive .box' src="{{ product.product_logo.url }}" alt="product logo"></a>
                            </div>
                            <h3 class="ProductName text-center" id="ProductName">{{ product.title }}</h3>
                            <h4 class='ProductType' id="programming-category"><strong>{{ product.category }}</strong></h4>
                            <span class="UserName"><img style="height: 18px" src="{% static 'products/images/usericon.png' %}" alt=""> {{ product.user }}</span>
                            <div class='clearfix'></div>
                            <p class="product-overview" id="description">
                                {{ product.description }}
                            </p>

                            <a href="{{ product.url }}"><button class='button download-product-btn' type="button" name="download-product-btn">Download</button></a>
                            <a href="{% url 'products:detail' product.id %}"><button class='details-product-btn button secbtn' type="button" name="details-product-btn">Details</button></a>
                            <div class="rates text-center">
                                {% get_hit_count for product as total_hits %}
                                {% get_comment_count for product as comment_count %}
                              <span class="NumLikes">{{ product.vote_total }} <img src="{% static 'products/images/like.png' %}" alt=""></span>
                              <span class="views">{{ total_hits }} <img src="{% static 'products/images/eye.png' %}" alt=""></span>
                              <span class="comments">{{ comment_count }} <img src="{% static 'products/images/commenticon.png' %}" alt=""></span>
                            </div>
                          </div>
                    </div>
                      {% endfor %}
                    <div class="clearfix"></div>
                    <div class="text-center">
                      <a href="{% url 'products:load_more' "Top" %}"><button class='more-added-products button more' type="button" name="more-added-products">Load More</button></a>
                    </div>

                  </div>
            </div>
          {% endif %}

          {% if new_products %}
            <div class="new-added-resources">
                   <h3>Newly added Resources:</h3><hr>
                    <div class="row roww">
                    {% for product in new_products|slice:":8" %}
                     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                         <div class="product">
                            <div class="productimg">
                                <a style="cursor: hand" href="{% url 'products:detail' product.id %}"><img class='product-img img-responsive .box' src="{{ product.product_logo.url }}" alt="product logo"></a>
                            </div>
                            <h3 class="ProductName text-center">{{ product.title }}</h3>
                            <h4 class='ProductType' id="programming-category"><strong>{{ product.category }}</strong></h4>
                            <span class="UserName"><img src="{% static 'products/images/usericon.png' %}" alt=""> {{ product.user }}</span>
                            <div class='clearfix'></div>
                            <p class="product-overview">
                                {{ product.description }}
                            </p>

                            <a href="{{ product.url }}"><button class='button download-product-btn' type="button" name="download-product-btn">Download</button></a>
                            <a href="{% url 'products:detail' product.id %}"><button class='details-product-btn button secbtn' type="button" name="details-product-btn">Details</button></a>


                            <div class="rates text-center">
                                {% get_hit_count for product as total_hits %}
                                {% get_comment_count for product as comment_count %}
                              <span class="NumLikes">{{ product.vote_total }}<img src="{% static 'products/images/like.png' %}" alt=""></span>
                              <span class="views">{{ total_hits }} <img src="{% static 'products/images/eye.png' %}" alt=""></span>
                              <span class="comments">{{ comment_count }} <img src="{% static 'products/images/commenticon.png' %}" alt=""></span>
                            </div>
                          </div>
                    </div>
                           {% endfor %}
                    <div class="clearfix"></div>
                    <div class="text-center">
                      <a href="{% url 'products:load_more' "New" %}"><button class='more-added-products button more' type="button" name="more-added-products">Load More</button></a>
                    </div>
                  </div>
             </div>
          {% endif %}
          </div>
            {% if top_products.count == 0 and  new_products.count == 0 %}
                <p style="text-align: center;font-size:18px;margin-top:100px"><strong>Note: Sorry for the discomfort. DeveloperSuit is under processing :(</strong></p>
            {% endif  %}
       <div class="col-sm-3 text-center rightside">
        {% include 'products/right_column_page.html' %}
      </div>

    </div>
{% endblock %}
