{% extends extended_template %}
{% load staticfiles %}
{% load comments %}
{% load hitcount_tags %}
{% load likes_inclusion_tags %}
{% block pagelinks %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

{% endblock %}

{% block body %}
    <div class="col-md-9 profilecontent">
        <div class="user-profile">
          <div class="product" style="margin-top:90px">
            <div class="col-md-3">
              <div class="product-leftside">
              <div class="product-img">
                <img class='img-responsive' src="{% static 'products/images/img_logo_blue.jpg' %}" alt="">
              </div>
              <h3 class="product-name">{{ request.user }}</h3>
            </div>

            <div class="clearfix hiddenclear"></div>

            </div>

            <div class="col-md-9">
              <p>My name is {{ request.user }}. And I have been developing a lot of developer resources for a very long time. I am a
                  software engineer and I love to help out the other developers to get advantage of the resources that can
                  be useful for them in their project to make it reliable and efficient not only for their use but also for
                  their clients.
              </p>
{#                <a href="#" ><button class='edit-description text-center center-block' type="button" name="edit-description">Edit description</button></a>#}
            </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          {% for product in user_products %}
            <div >
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog " style="width: 40%; ">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" >Delete Product</h4>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure?</p>
                    </div>
                    <div class="modal-footer edit-delete-buttons">
                        <button class='delete-post text-center' style="width: 100px" type="button" name="delete-post" data-dismiss="modal">No</button>
                      <a href="{% url 'products:delete_product' product.id %}" > <button style="width: 100px" type="button" class="btn btn-default" >Yes</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="product">
            <div class="col-md-3 resource">
              <div class="resource-leftside">
                <div class="resource-img product-img">
                    <a style="cursor: hand" href="{% url 'products:detail' product.id %}"><img class='img-responsive' src="{{ product.product_logo.url }}" alt=""></a>
                </div>
                <div class="rates text-center">
                     {% get_hit_count for product as total_hits %}
                    {% get_comment_count for product as comment_count %}
                    <span class="NumLikes">{{ product.vote_total }}<img src="{% static 'products/images/like.png' %}" alt=""></span>
                    <span class="views">{{ total_hits }} <img src="{% static 'products/images/eye.png' %}" alt=""></span>
                    <span class="comments">{{ comment_count }} <img src="{% static 'products/images/commenticon.png' %}" alt=""></span>
                </div>
              </div>
            </div>

            <div class="col-md-6 resource">
              <h3>{{ product.title }}</h3>
              <h4>{{ product.category }}</h4>
              <p>{{ product.description }}

            </div>
            <div class="clearfix clearproduct"></div>
            <div class="col-md-3 text-center btns">
              <div class="edit-delete-buttons">
                  <a href="{% url 'products:edit_product' product.id %}"><button class='edit-post text-center' type="button" name="edit-post">Edit post</button></a>
               <button data-toggle="modal" data-target="#myModal" class='delete-post text-center' type="button" name="delete-post">Delete post</button>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
              {% if forloop.counter != user_products.count %}
              <hr>
              {% endif %}
             {% endfor %}


        </div>
  </div>

          <div class="col-md-3 profile-right-side">
          <div class="text-center right-of-form">
        {% include 'products/right_column_page.html' %}
          </div>
      </div>

{% endblock %}