{% extends extended_template %}
{% load staticfiles %}
{% block pagelinks %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/howtopost.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contactus.css' %}">
{% endblock %}

{% block body %}
<div class="content">
  <div class="col-md-9">
    <hr>
    <h3 class="text-center posth3">Post your Open Source Resource</h3>
    <div class="how-to-post">
          {% if error_message != 0 %}

                <div style="margin: 15px 0">
                        <div class="alert alert-danger" style="width: 100%;  margin-bottom: 1px;
                                                                              height: 30px;
                                                                              line-height:30px;
                                                                              padding:0px 15px;">
                            <strong style=" font-size: 12px ">{{ error_message }}</strong>
                        </div>
            </div>
            {% endif %}
      <form class="signup-form" role="form" action="{% url 'products:create_product' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="col-sm-12">
          <label for="">Name of Resource</label>
          <input type="text" name="title" value="" required="required">
        </div>
        <div class="col-sm-12">
          <label for="">Project URL</label>
          <input type="text" name="url" value="" required="required">
        </div>

        <div class='col-sm-12'>
          <label for="">Select Category</label>
          <input type="text" onfocus="openList()" id="search" name="category" value="" required="required" autocomplete="off">
            <ul  id="search-results" class="list-group" style=" margin-left: 0%; position: absolute; z-index: 1; list-style: none">
                 </ul>
        </div>
        <div class="col-sm-8">
          <label for="">Short Description</label>
          <textarea name="description" required="required" minlength="200" ></textarea>
        </div>

        <div class="col-sm-4 uploading text-center">
          <label class="custom-file-upload">
            <div class="upload-img">
              <img id="preview"   src="{% static 'products/images/upload.png' %}" alt="">
            </div>
            <span class="uploadBtn">Upload Project Logo</span>
            <input class='uploadbtn' id="image" style='display:none' type="file" value="" name="product_logo" required="required">
          </label>
        </div>
        <div class="clearfix"></div>

          <div>
            <input class='signupbtn'  onclick="checkLength(this)" type="submit" value="Post">
          </div>
      </form>
    </div>
  </div>

         <div class="col-sm-3 text-center rightside">
        {% include 'products/right_column_page.html' %}
      </div>

</div>
{% endblock %}

{% block inline_javascript %}
    <script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview').attr('src', e.target.result);
            $('#preview').addClass("product-img")
            $('#preview').addClass("img-responsive")
            document.getElementById("preview").style["height"] = "100%";
            document.getElementById("preview").style["width"] = "100%";
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#image").change(function(){
    readURL(this);
});
    </script>

    <!---- To Show and Hide the drop down list for categories ------>
<script>

function openList() {
    var list = document.getElementById("search-results");
        list.style.display = "block";
}
</script>
<script>
$("#search-results").on("click", "li", function() {
    $("#search").val($(this).text());

    var list = document.getElementById("search-results");
    list.style.display = "none";
});
</script>
 <!---- End  ------>
{% endblock %}




