{% load staticfiles %}

        <a href="{% url 'products:create_product'  %}"><button class='button' type="button" name="button">Post a Resource</button></a>
        <img class='ads img-responsive' src="{% static 'products/images/t-shirt.png' %}" alt="">
        <h3>Subscribe our Newsletter</h3>
        <form class="emailform" action="{% url 'products:submit_newsletter' %}" method="POST">
            {% csrf_token %}
          <div class="input-and-img">
            <input maxlength="50" type="email" name="email" value="" placeholder="Enter your email">
            <input class='sendbutton' onclick="return IsEmpty();" type="submit" name="" value="Send">
          </div>
        </form>